<div class="quiz-instructions-container">
    <h2>Quiz Instructions</h2>
    <p>• Please read the following instructions carefully before starting the quiz.</p>
    <p>• You cannot change the screen once you start the quiz.</p>
    <p>• If you did, it will give you warning 1 time if you did it again you will be disqualified.</p>
    <p>• The quiz contains MCQ (Multiple Choice Questions), you will have 4 options to select between.</p>
    <p>• There is no negative marking in this.</p>
    <p>• The quiz is taken underguidence </p>
    <!-- Add your instructions here -->
  </div>
  