.quiz-instructions-container{
  width: 700px;
  height: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  
  /* Center horizontally and vertically */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}